{% extends 'base.html' %}
{% load static %}

{% block header %} <title>User Registration</title>
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}



{% block content %}
    <div class="container w-50 mx-auto my-3">
        <h4 class="text-center">REGISTRATION FORM</h4>
        <form enctype="multipart/form-data" method="post">{% csrf_token %}
        {% load widget_tweaks %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="{{ form.username_for_label }}">Choose Your Username:</label>
            {{ form.username|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.first_name_for_label }}">Your First Name:</label>
            {{ form.first_name|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name_for_label }}">Your Last Name:</label>
            {{ form.last_name|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.email_for_label }}">Your Email:</label>
            {{ form.email|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.password1_for_label }}">Your Password:</label>
            {{ form.password1|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.password2_for_label }}">Confirm Your Password:</label>
            {{ form.password2|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.bio_for_label }}">Your Biography in Short:</label>
            {{ form.bio|add_class:"form-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.profile_image_for_label }}">Upload Your Profile Picture:</label>
            {{ form.profile_image|add_class:"form-file-control" }}
        </div>

        <div class="form-group">
            <label for="{{ form.phone_no_for_label }}">Your Phone Number:</label>
            {{ form.phone_no|add_class:"form-control" }}
        </div>

        <div class="container text-center w-50">
            <input type="submit" class="btn-lg btn-success" value="REGISTER">
        </div>

    </form>
</div>
{% endblock %}